<nav class="navbar navbar-expand-md navbar-dark bg-warning">
    <a class="navbar-brand" href="/">
        {% load static %}
        <img width="30" height="30" src="{% static 'main/images/logo.png' %}" alt="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link text-success" href="#" onclick="return false">Доставка и оплата</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <a id="cart_toggle" class="btn btn-danger mx-2" href="/cart">
                <i class="fa fa-shopping-cart"></i>
                <span class="badge badge-warning" id="lblCartCount">0</span>
            </a>
            {% if not hide_search %}
                <form action="/" method="get">
                    <input class="form-control mr-sm-2"
                           name="query"
                           value="{{ query }}"
                           type="text"
                           placeholder="Поиск по сайту"
                           aria-label="Search">
                    <button class="btn btn-success my-2 my-sm-0" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            {% endif %}
        </form>
    </div>
</nav>
