* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.products-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 150px;
}

.product-card {
    max-width: 250px;
    max-height: 500px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.product-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    transition: .3s ease-in-out;
}

.product-card .card-body {
    overflow: hidden;
}

.cart .card-body {
    padding-top: 10px;
}

.product-card .card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.product-card .card-actions {
    display: flex;
    justify-content: flex-end;
}

.product-card .image-wrapper {
    padding: 10px;
}

.product-card img {
    max-width: 100%;
    vertical-align: middle;
}

.product__price {
    display: flex;
    align-items: center;
    border-radius: 24px;
    margin: auto 0 20px;
    justify-content: center;
}

.product__price > strong {
    font-size: 14px;
    line-height: 1;
    margin: 0 10px 0 0;
    color: #999;
    font-weight: normal;
}

.product__price .price__current {
    position: relative;
    padding: 0 16px;
    line-height: 40px;
    font-size: 12px;
    background: rgba(223,223,223,0.25);
    border-radius: 24px;
    color: #999;
}

.fa-arrow-circle-right, .fa-arrow-circle-left {
    color: black;
}

#cart_toggle {
    border-radius: 20px;
    padding: 5px;
}

.badge {
  padding-top: 5px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: green;
    color: #fff;
    padding: 2px 5px;
    vertical-align: top;
    margin-left: -10px;
}

